
.titulo h1{
    color: slategray;
}

.yt a{
    color: mediumslateblue;
}

.card-img-top{
    width: 304px;
    height: 180px;
}

.card:hover{
    box-shadow: 10px 10px 20px rgba(113, 25, 202, 0.4);
    transform: translateY(-4%);
}